.about-cat {
  @include zero-indent;
  margin: 0 auto 24px;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;

  border: none;
}

.about-cat__list {
  @include no-list;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 164px;
}

.about-cat__item {
  display: flex;
  align-items: center;
}

.about-cat__input {
  @include input-text;
  appearance: textfield;

  &:hover,
  &:focus {
    border-color: #cdcdcd;
  }

  &:active {
    border: 2px solid #444444;
  }

  &:invalid {
    border-color: #ff8282;
  }
}

.about-cat__input::-webkit-outer-spin-button,
.about-cat__input::-webkit-inner-spin-button {
  appearance: none;
}

.about-cat__input[placeholder] {
  @include placeholder;
}

.about-cat__label {
  @include form-label;
  margin-right: 13px;
}

.about-cat__label--age {
  margin-right: 8px;
}

@media (min-width: $tablet-width) {
  .about-cat {
    width: 768px;
    padding-left: 71px;
    padding-right: 68px;
    margin-bottom: 74px;
  }

  .about-cat__list {
    min-height: 195px;
  }

  .about-cat__label {
    @include form-label--tablet;
  }

  .about-cat__input {
    min-height: 52px;
    padding-left: 20px;
  }

  .about-cat__input[placeholder] {
    @include placeholder--tablet;
  }
}

@media (min-width: $desktop-width) {
  .about-cat {
    padding: 0;
    padding-left: 2px;
    width: 570px;
    margin-right: 80px;
  }

  .about-cat__list {
    min-height: 197px;
  }
}
