.catalog-section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.catalog-section__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.catalog-section__item {
  background-color: $color-secondary;
  margin-top: 20px;
  padding: 20px;
  list-style: none;
}

.catalog-section__title {
  @include text-parameter(24px, 1.54, $color-subtitle, 400);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.catalog-section__description {
  @include text-parameter(14px, 1.29, $color-text, 400);
  border-bottom: 1px solid $color-border;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.catalog-section__link {
  text-transform: uppercase;

  @include text-parameter(16px, 1, $color-subtitle, 400);
}
