.extra {
  position: relative;

  width: 100vw;
  max-width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 42px;
    left: 0;

    width: 100%;
    height: 3px;

    background: linear-gradient(to right, transparent 0, transparent 250px, $main-color 250px);
  }
}

.extra__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 28px;
}

.extra__heading {
  position: relative;

  @include zero-indent;
  margin-bottom: 34px;
  width: 250px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;


  background-color: #ffffff;
}

.extra__list {
  @include no-list;
}

.extra__item {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 17px;
  margin-bottom: -1px;

  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.extra__name {
  @include zero-indent;
  margin-bottom: 12px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.extra__properties {
  margin-bottom: 15px;
  width: 280px;

  line-height: 14px;
  font-family: "Arial", sans-serif;

  border-collapse: collapse;
}

.extra__value {
  text-align: right;
}

.extra__button {
  @include button;
  margin: 0;
  padding-bottom: 10px;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .extra {
    &::before {
      top: 22px;

      background-color: $main-color;
    }
  }

  .extra__wrapper {
    width: 708px;
    padding-top: 0;
  }

  .extra__heading {
    margin-bottom: 81px;
    padding-left: 37px;
    padding-right: 5px;
    width: 411px;

    font-size: 36px;
    line-height: 36px;
  }

  .extra__item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #e6e6e6;
    padding: 25px 36px 27px 37px;
  }

  .extra__name {
    margin-bottom: 26px;
    width: 200px;

    font-size: 20px;
    line-height: 20px;
  }

  .extra__button {
    flex-grow: 1;
    font-size: 16px;
    line-height: 20px;
  }

  .extra__properties {
    padding: 0;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 20px;
  }

  .extra__property {
    width: 150px;
    text-align: right;
    padding-top: 4px;
  }

  .extra__value {
    width: 75px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    &::before {
      top: 31px;
    }
  }

  .extra__wrapper {
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 85px;
  }

  .extra__heading {
    margin-left: -40px;
    padding-top: 9px;
  }

  .extra__item {
    width: 895px;
    min-height: 73px;
    padding: 0;
    align-items: center;

    border-left: none;
    border-right: none;
  }

  .extra__name {
    margin-bottom: 0;
    margin-right: auto;
    width: 200px;
  }

  .extra__button {
    flex-grow: 0;
    width: 245px;
  }

  .extra__properties {
    width: 325px;
    margin-bottom: 0;
    margin-top: 4px;
  }

  .extra__property {
    text-align: left;
  }

  .extra__value {
    width: 50px;
    text-align: left;
  }
}
