.form-feedback__header-container {
  padding-right: 0;
  padding-left: 0;
}

.form-feedback__list {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .form-feedback__list {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.form-feedback__item {
  list-style: none;
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }

  & input[type="text"],
  input[type="email"],
  input[type="tel"] {
    flex-grow: 1;
  }
}

.page-main__text {
  @include text-parameter(14px, 1.29, $color-subtitle, 400);
  text-transform: uppercase;
}

.form-feedback__group-parameters {
  border: none;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;

  &--main-parameters {
    border: 1px solid $color-border;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &--owner,
  &--comment,
  &--additionally {
    border-top: 3px solid $color-main;
  }
}

@media (min-width: $tablet-width) {
  .form-feedback__group-parameters--main-parameters {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .form-feedback__header-container {
    padding-right: auto;
    padding-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .form-feedback__group-parameters--cat,
  .form-feedback__group-parameters--main-parameters {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 400px;
    box-sizing: border-box;
    min-height: 196px;
  }

  .form-feedback__group-parameters--cat {
    margin-right: 80px;

    & .form-feedback__list {
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 0;
      padding-left: 0;
    }

    & .form-feedback__item {
      margin-bottom: 24px;
    }
  }

  .form-feedback__group-parameters--main-parameters {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    box-sizing: border-box;
  }
}

.form-feedback__text-label {
  @include text-parameter(16px, 1.13, $color-subtitle-lighter, 400);
  text-transform: uppercase;
  margin-right: 15px;
}

.form-feedback__text-input {
  padding: 15px;
  border: 1px solid $color-border;
  font-family: "Oswald", "Arial", sans-serif;

  @include text-parameter(16px, 1.13, $color-text, 400);
  outline: none;

  &:hover {
    border-color: $color-border-darker;
  }

  &:focus {
    border-color: $color-text;
    border-width: 2px;
  }
}

.form-feedback__radio-button {
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding-left: 46px;
  text-transform: uppercase;

  &::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $color-border;
    border-radius: 50%;
    margin-right: 16px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color-main;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &:hover::before {
    border-color: $color-border-darker;
  }

  &:active::after {
    background-color: rgba($color-main, 0.3);
  }

  &:active::before {
    border-color: rgba($color-border-darker, 0.3);
  }
}

.form-feedback input:checked + .form-feedback__radio-button::after {
  display: inline-block;
}

.form-feedback__checkbox-button {
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding-left: 46px;
  text-transform: uppercase;

  &::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $color-border;
    margin-right: 16px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    display: none;
    width: 7px;
    height: 16px;
    margin: -3px 10px 3px;
    border: solid $color-main;
    border-width: 0 1px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 7px;
    left: 2px;
  }

  &:hover::before {
    border-color: $color-border-darker;
  }

  &:active::after {
    border-color: rgba($color-main, 0.3);
  }

  &:active::before {
    border-color: rgba($color-border-darker, 0.3);
  }
}

.form-feedback input:checked + .form-feedback__checkbox-button::after {
  display: inline-block;
}

.form-feedback__group-parameters--comment {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-feedback__comment-container {
  display: flex;
}

.form-feedback__comment {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 15px;
  resize: none;
  outline: none;
  font-family: "Oswald", "Arial", sans-serif;
  min-height: 150px;
  border-color: $color-border;

  @include text-parameter(16px, 1.13, $color-text, 400);

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;

    @include text-parameter(16px, 1.13, $color-text, 400);
  }

  &:hover {
    border-color: $color-border-darker;
  }

  &:focus {
    border-color: $color-text;
    border-width: 2px;
  }
}

@media (min-width: $tablet-width) {
  .form-feedback__comment {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .form-feedback__comment {
    margin-left: 0;
    margin-right: 0;
  }
}

.form-feedback__footer {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.form-feedback__remark {
  margin-top: 20px;

  @include text-parameter(14px, 1.14, $color-text, 400);
  align-self: center;
}

@media (min-width: $tablet-width) {
  .form-feedback__footer {
    flex-direction: row;
    justify-content: space-around;
  }

  .form-feedback__submit {
    flex-basis: 283px;
    flex-shrink: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-feedback__footer {
    justify-content: flex-start;
  }

  .form-feedback__submit {
    flex-basis: 568px;
    margin-right: 82px;
  }
}

@media (min-width: $desktop-width) {
  .form-feedback__group-parameters--additionally .form-feedback__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .form-feedback__item {
      margin-bottom: 0;
    }
  }
}
