.form-feedback__header-container {
  padding-right: 0;
  padding-left: 0;
}

.form-feedback__list {
  padding-left: 17px;
  padding-right: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .form-feedback__list {
    padding-left: 71px;
    padding-right: 64px;
  }
}

.form-feedback__item {
  list-style: none;
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }

  & input[type="text"],
  input[type="email"],
  input[type="tel"] {
    flex-grow: 1;
  }
}

.form-feedback__group-parameters {
  border: none;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;

  &--main-parameters {
    border: 1px solid $color-border;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 22px;
    margin-right: 0;
    margin-left: 0;
  }

  &--owner,
  &--comment,
  &--additionally {
    border-top: 3px solid $color-main;
  }

  &--cat {
    margin-top: 38px;
  }

  &--owner {
    margin-top: 41px;

    & .form-feedback__list {
      margin-top: 16px;
    }

    & .page-main__subtitle {
      max-width: 225px;
    }

    & .form-feedback__item {
      position: relative;
    }

    & svg {
      position: absolute;
      right: 15px;
    }

    & .form-feedback__text-input + svg {
      color: $color-subtitle-lighter;
    }

    & .form-feedback__text-input:hover + svg {
      color: $color-main;
    }
  }

  &--comment {
    margin-top: 43px;
  }

  &--additionally {
    margin-top: 44px;

    & .form-feedback__list {
      margin-top: 16px;
    }

    & .form-feedback__item {
      margin-bottom: 12px;
    }
  }
}

.form-feedback__footer {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
}

.form-feedback__submit {
  font-size: 16px;
  line-height: 1.25;
}

.form-feedback__remark {
  margin-top: 20px;

  @include text-parameter(14px, 1.14, $color-text, 400);
  font-family: $secondary-font;
  align-self: center;
}

@media (min-width: $tablet-width) {
  .form-feedback__group-parameters {
    &--main-parameters {
      margin-top: 70px;
      padding-top: 34px;
      padding-bottom: 2px;
      margin-right: 67px;
      margin-left: 71px;

      & .form-feedback__list {
        padding-left: 27px;
      }

      & .form-feedback__item {
        margin-bottom: 23px;
      }
    }

    &--cat {
      margin-top: 64px;
    }

    &--owner {
      margin-top: 97px;

      & .page-main__subtitle {
        max-width: 100%;
      }

      & .form-feedback__list {
        margin-top: 51px;
      }

      & svg {
        right: 17px;
      }
    }

    &--comment {
      margin-top: 84px;
    }

    &--additionally {
      margin-top: 87px;

      & .form-feedback__list {
        margin-top: 43px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      & .form-feedback__item {
        margin-bottom: 41px;
        flex-basis: 292px;
      }
    }
  }

  .form-feedback__footer {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 76px;
  }

  .form-feedback__submit {
    font-size: 20px;
    line-height: 1;
    flex-basis: 283px;
    flex-shrink: 0;
    margin-left: 40px;
    margin-right: 63px;
  }

  .form-feedback__remark {
    @include text-parameter(16px, 1, $color-text, 400);
    margin-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .form-feedback__header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 63px;
  }

  .form-feedback__group-parameters {
    &--cat {
      margin-top: 0;

      & .form-feedback__list {
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 0;
        padding-left: 0;
      }

      & .form-feedback__item {
        margin-bottom: 16px;
      }
    }

    &--main-parameters {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 0;
      margin-top: 0;
    }

    &--owner {
      margin-top: 73px;

      & .form-feedback__list {
        display: flex;
        justify-content: space-between;
      }

      & .form-feedback__item {
        flex-shrink: 0;
        flex-basis: 570px;
        margin-bottom: 0;
      }

      & svg {
        right: 20px;
      }
    }

    &--additionally {
      & .form-feedback__item {
        margin-bottom: 0;
        flex-basis: 249px;
      }
    }
  }

  .form-feedback__group-parameters--cat,
  .form-feedback__group-parameters--main-parameters {
    flex-shrink: 0;
    flex-basis: 569px;
  }

  .form-feedback__footer {
    margin-top: 65px;
    margin-bottom: 85px;
  }

  .form-feedback__submit {
    flex-basis: 568px;
    margin-left: 0;
    margin-right: 84px;
  }
}

.form-feedback__text-label {
  @include text-parameter(16px, 1.13, $color-subtitle-lighter, 400);
  text-transform: uppercase;
  margin-right: 15px;
}

@media (min-width: $tablet-width) {
  .form-feedback__text-label {
    @include text-parameter(20px, 1, $color-subtitle-lighter, 400);
  }
}

.form-feedback__text-input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid $color-border;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;

  @include text-parameter(16px, 1.13, $color-text, 400);
  outline: none;

  &:hover {
    border-color: $color-border-darker;
    cursor: pointer;
  }

  &:focus {
    border-color: $color-text;
    box-shadow: 1px 1px 0 0 $color-text, -1px -1px 0 0 $color-text;
  }
}

@media (min-width: $tablet-width) {
  .form-feedback__text-input {
    @include text-parameter(20px, 1, $color-text, 400);
  }
}

.form-feedback__radio-button {
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding-left: 46px;
  text-transform: uppercase;

  &::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $color-border;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color-main;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &:hover::before {
    border-color: $color-border-darker;
    cursor: pointer;
  }

  &:active::after {
    background-color: rgba($color-main, 0.3);
  }

  &:active::before {
    border-color: rgba($color-border-darker, 0.3);
  }
}

.form-feedback input:checked + .form-feedback__radio-button::after {
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .form-feedback__radio-button {
    @include text-parameter(20px, 1, $color-subtitle-lighter, 400);
    padding-left: 59px;

    &::before {
      width: 40px;
      height: 40px;
      top: -10px;
    }

    &::after {
      width: 18px;
      height: 18px;
      top: 2px;
      left: 12px;
    }
  }
}

.form-feedback__checkbox-button {
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding-left: 46px;
  text-transform: uppercase;

  &::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $color-border;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    display: none;
    width: 7px;
    height: 16px;
    margin: -3px 10px 3px;
    border: solid $color-main;
    border-width: 0 1px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 7px;
    left: 2px;
  }

  &:hover::before {
    border-color: $color-border-darker;
    cursor: pointer;
  }

  &:active::after {
    border-color: rgba($color-main, 0.3);
  }

  &:active::before {
    border-color: rgba($color-border-darker, 0.3);
  }
}

.form-feedback input:checked + .form-feedback__checkbox-button::after {
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .form-feedback__checkbox-button {
    @include text-parameter(20px, 1, $color-subtitle-lighter, 400);
    padding-left: 56px;

    &::before {
      content: "";
      width: 40px;
      height: 40px;
      top: -11px;
    }

    &::after {
      content: "";
      display: none;
      width: 7px;
      height: 16px;
      margin: -3px 10px 3px;
      border: solid $color-main;
      border-width: 0 1px 2px 0;
      transform: rotate(45deg);
      position: absolute;
      top: 2px;
      left: 8px;
    }
  }
}


.form-feedback__comment-container {
  display: flex;
  margin-top: 16px;
}

.form-feedback__comment {
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 11px;
  padding-left: 12px;
  resize: none;
  outline: none;
  font-family: "Oswald", "Arial", sans-serif;
  min-height: 123px;
  border-color: $color-border;

  @include text-parameter(16px, 1.13, $color-text, 400);

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;

    @include text-parameter(16px, 1.13, $color-text, 400);
  }

  &:hover {
    border-color: $color-border-darker;
    cursor: pointer;
  }

  &:focus {
    border-color: $color-text;
    border-width: 2px;
  }
}

@media (min-width: $tablet-width) {
  .form-feedback__comment-container {
    margin-top: 50px;
  }

  .form-feedback__comment {
    @include text-parameter(20px, 1.5, $color-text, 400);
    margin-right: 37px;
    margin-left: 40px;
    padding: 9px 18px;
    min-height: 154px;

    &::placeholder {
      @include text-parameter(20px, 1.5, $color-text, 400);
    }
  }
}

@media (min-width: $desktop-width) {
  .form-feedback__comment {
    margin-left: 0;
    margin-right: 0;
  }
}

.form-feedback .error {
  border-color: $color-error;
  border-width: 2px;

  &:hover {
    border-color: $color-error;
  }

  &:focus {
    border-color: $color-error;
  }

  & + svg {
    color: $color-error;
  }

  &:hover + svg {
    color: $color-error;
  }
}
