.gift {
  padding-top: 40px;
  padding-bottom: 35px;
}

.gift__wrapper {
  position: relative;

  text-align: center;
  padding-top: 186px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  width: 280px;
  min-height: 289px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: #68b738;
  background-repeat: no-repeat;
  background-size: 280px 289px;

  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;

  color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 65px;
    left: 113px;

    width: 55px;
    height: 60px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: 55px 60px;
  }

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.gift__sentence {
  @include zero-indent;
}

@media (min-width: $tablet-width) {
  .gift {
    padding-top: 70px;
    padding-bottom: 76px;
  }

  .gift__wrapper {
    padding-top: 72px;
    padding-right: 115px;

    width: 708px;
    min-height: 200px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-color: #68b738;
    background-repeat: no-repeat;
    background-size: 708px 200px;

    &::before {
      left: 91px;
    }

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .gift__sentence {
    width: 170px;
    text-align: left;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    padding: 0;
  }

  .gift__wrapper {
    flex-direction: column;
    padding: 188px 0 0 0;
    margin: 0;
    width: 245px;
    min-height: 289px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 245px 289px;

    &::before {
      left: 96px;
    }

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .gift__sentence {
    width: 170px;
    text-align: center;
    margin: 0 auto;
  }
}
