.goal {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}


.goal__section {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 25px 20px 0 21px;

  background-color: $bg-color;

  &::before {
    content: "";
    position: absolute;

    width: 50px;
    height: 50px;

    background-color: #68b738;
    border-radius: 50%;
  }

  &:last-child {
    margin-bottom: 16px;
  }
}

.goal__title {
  @include zero-indent;

  margin-bottom: 30px;
  padding-top: 5px;
  padding-left: 70px;

  font-size: 24px;
  line-height: 37.02px;
  font-weight: 400;
  text-transform: uppercase;
}


.goal__title--slim {
  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 30px;

    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");
    background-size: 35px 49px;
    background-position: center;
    background-repeat: no-repeat;
  }
}


.goal__title--gain {
  &::before {
    content: "";
    position: absolute;
    top: 34px;
    left: 13px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
    background-size: 67px 28px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.goal__sentence {
  @include content-style;
  padding-bottom: 21px;

  color: #444444;

  border-bottom: 1px solid #d9d9d9;
}

.goal__button {
  padding-top: 18px;
  padding-bottom: 23px;

  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;

  background-image: url("../img/icon-right-arrow-long.svg");
  background-size: 25px 11px;
  background-repeat: no-repeat;
  background-position: 97px 22px;

  &:hover,
  &:focus {
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-size: 33px 11px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .goal {
    width: 708px;
  }

  .goal__section {
    text-align: left;
    margin-bottom: 30px;
    padding-top: 75px;
    padding-left: 52px;

    &::before {
      top: 91px;
      right: 62px;

      width: 200px;
      height: 200px;
    }
  }


  .goal__title {
    @include zero-indent;
    margin-bottom: 24px;

    font-size: 36px;
  }

  .goal__title--slim {
    &::before {
      top: 79px;
      left: 476px;

      width: 140px;
      height: 194px;

      background-size: 140px 194px;
    }
  }

  .goal__title--gain {
    &::before {
      top: 133px;
      left: 412px;

      width: 268px;
      height: 112px;

      background-size: 268px 112px;
    }
  }

  .goal__sentence {
    padding-bottom: 0;
    padding-right: 260px;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .goal__section:last-child .goal__sentence {
    padding-right: 292px;
  }

  .goal__button {
    padding-top: 57px;
    min-height: 140px;

    font-size: 20px;
    line-height: 20px;

    background-position: 131px 62px;
  }

  .goal__section:last-child .goal__button {
    background-position: 126px 62px;
  }
}

@media (min-width: $desktop-width) {
  .goal {
    width: 1220px;
    flex-direction: row;
    justify-content: space-between;
  }

  .goal__section {
    width: 570px;
    min-height: 372px;
    padding: 76px 52px 0 52px;

    &::before {
      top: 47px;
      left: 52px;

      width: 100px;
      height: 100px;
    }
  }

  .goal__section:last-child {
    margin-bottom: 30px;
  }

  .goal__title {
    padding-left: 162px;
    margin-bottom: 73px;
  }

  .goal__title--slim {
    &::before {
      top: 41px;
      left: 66px;

      width: 70px;
      height: 97px;

      background-size: 70px 97px;
    }
  }

  .goal__title--gain {
    &::before {
      top: 69px;
      left: 34px;

      width: 134px;
      height: 56px;

      background-size: 134px 56px;
    }
  }

  .goal__sentence {
    padding-right: 0;
  }

  .goal__section:last-child .goal__sentence {
    padding-right: 0;
  }

  .goal__button {
    padding-top: 32px;
    min-height: 100px;

    background-position: 131px 37px;
  }

  .goal__section:last-child .goal__button {
    background-position: 126px 37px;
  }
}
