.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  height: 65px;
  width: 65px;
  border: none;
  background: transparent;

  &:hover {
    cursor: pointer;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &::before,
  &::after {
    transition: transform 0.1s linear;
    transform-origin: 5%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: $color-subtitle-lighter;
    top: 24px;
    left: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: $color-subtitle-lighter;
    top: 38px;
    left: 20px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--close .main-nav__toggle {
  &::before {
    transform: rotate(0deg);
  }

  &::after {
    transform: rotate(0deg);
    box-shadow: 0 -7px 0 0 $color-subtitle-lighter;
    transition: box-shadow 0s linear 0.1s;
  }
}

.main-nav--open .main-nav__toggle {
  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-40deg);
    box-shadow: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--close .main-nav__list {
    display: none;
  }

  .main-nav--open .main-nav__list {
    right: 0;
    left: 0;
  }

  .main-nav__toggle {
    font-size: 0;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}
