.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  height: 65px;
  width: 65px;
  border: none;
  background: $color-main; //временное свойство
  &:hover {
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
