.page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 18px;
}

.page-form__heading {
  @include zero-indent;
  align-self: flex-start;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto 26px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.page-form__text {
  @include zero-indent;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto 37px;

  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-form {
    align-items: flex-start;
    padding-top: 52px;
    padding-bottom: 51px;
  }

  .page-form__heading {
    width: 768px;
    margin-bottom: 56px;
    padding-left: 30px;
    padding-right: 30px;

    font-size: 60px;
  }

  .page-form__text {
    padding-left: 70px;
    padding-right: 300px;
    margin-bottom: 65px;
    width: 768px;

    text-align: left;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-form {
    padding: 56px 0 61px 0;
  }

  .page-form__heading {
    padding-left: 40px;
    width: 1300px;
  }

  .page-form__text {
    width: 1300px;
    padding-left: 40px;
    padding-right: 900px;
  }
}
