.page-main__title {
  @include text-parameter(36px, 1.67, $color-subtitle, 400);
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    @include text-parameter(60px, 1, $color-subtitle, 400);
  }
}

.page-main__subtitle-wrapper {
  padding-left: 0;
}

@media (min-width: $tablet-width) {
  .page-main__subtitle-wrapper {
    padding-left: 30px;
  }
}

.page-main__subtitle {
  @include text-parameter(24px, 1, $color-subtitle, 400);
  background: #ffffff;
  position: relative;
  top: -15px;
  padding-left: 20px;
  padding-right: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.page-main__additional-products .page-main__subtitle {
  display: inline;
}

@media (min-width: $desktop-width) {
  .page-main__subtitle {
    left: -20px;
  }
}

.page-main__text {
  margin-top: 0;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page-main__text {
    padding-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__text {
    padding-left: 30px;
  }
}

.page-main__main-products {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 40px;
}
