
.product-card .page-main__title {
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .product-card .page-main__title {
    padding-right: 0;
    padding-left: 0;
  }
}

.product-card__list {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.product-card__item {
  flex-basis: 160px;
  min-height: 160px;
  border-top: 1px solid $color-border;
  padding-top: 22px;
  padding-bottom: 26px;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

.product-card__image {
  position: absolute;
  top: 0;
}

.product-card__title {
  @include text-parameter(16px, 1.25, $color-subtitle, 400);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 140px;
  width: 75px;
}

.product-card__description {
  @include text-parameter(12px, 1.33, $color-text, 400);
  font-family: $secondary-font;
  display: block;
  border-collapse: collapse;
  padding-left: 140px;
  margin-top: 14px;
  margin-bottom: 23px;

  & .product-card__characteristic:last-child {
    text-align: right;
  }
}

.product-card--view-more {
  border-bottom: 1px solid $color-border;

  & .product-card__description {
    text-align: center;
    margin-top: 9px;
    margin-bottom: 20px;
    padding-left: 0;
  }

  & .product-card__title {
    width: auto;
    padding-left: 0;
    margin-top: 57px;
    text-align: center;
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -40px;
      left: calc(50% - 16px);
      width: 31px;
      height: 2px;
      background-color: #d3d3d3;
    }

    &::after {
      transform: rotate(-90deg);
    }
  }
}

.product-card__characteristic {
  padding: 0;
  width: 100%;
}

.product-card__button {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product-card {
    padding-right: 30px;
    padding-left: 30px;
  }

  .product-card__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -30px;
    margin-left: -30px;
  }

  .product-card__item {
    flex-basis: 230px;
    flex-grow: 1;
    min-height: 223px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-secondary;
    margin-top: 138px;
    padding-top: 165px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 30px;
    margin-left: 30px;
    border-top: none;
    border: 1px solid transparent;
  }

  .product-card__image {
    top: -70px;
  }

  .product-card__title {
    @include text-parameter(20px, 1, $color-subtitle, 400);
    padding-left: 0;
    width: 130px;
    text-align: center;
  }

  .product-card__description {
    @include text-parameter(16px, 1, $color-text, 400);
    width: 100%;
    padding-left: 0;
    margin-top: 14px;
    margin-bottom: 31px;
  }

  .product-card__characteristic {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-border;

    &:first-child {
      text-align: start;
    }

    &:last-child {
      text-align: end;
    }
  }

  .product-card--view-more {
    background-color: #ffffff;
    border-color: $color-border;
    justify-content: space-around;
    padding-top: 0;

    & .product-card__description {
      margin-top: -29px;
      width: 187px;
      margin-bottom: 0;
    }

    & .product-card__button {
      position: relative;
      top: 29px;
    }

    & .product-card__title {
      width: 136px;
      padding-left: 0;
      margin-top: 133px;
      text-align: center;
      position: relative;

      &::before,
      &::after {
        top: -80px;
        width: 61px;
        left: calc(50% - 30px);
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .product-card__item {
    flex-basis: 165px;
  }
}
