.site-list {
  padding-left: 0;
}

.site-list__item {
  border-top: 1px solid $color-border;
  list-style: none;

  &:last-of-type {
    border-bottom: 1px solid $color-border;
  }
}

.site-list__link {
  display: block;

  @include text-parameter(20px, 1, $color-subtitle, 500);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  &:hover {
    color: rgba($color-subtitle, 0.6);
  }

  &:active {
    color: rgba($color-subtitle, 0.3);
  }
}
