.social {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.social__item:hover {
  cursor: pointer;
}

.social__link {
  font-size: 0;
}

.social__item svg {
  fill: #666666;
}

.social__item:hover svg {
  fill: $color-main;
}

.social__item:active svg {
  fill: rgba($color-main, 0.3);
}

.social__item {
  list-style: none;
  margin-right: 17px;
  margin-left: 17px;

  &--instagram svg {
    width: 17px;
    height: 17px;
  }

  &--facebook svg {
    width: 10px;
    height: 19px;
  }

  &--vkontakte svg {
    width: 22px;
    height: 12px;
  }
}

@media (min-width: $tablet-width) {
  .social__item {
    margin-right: 15px;
    margin-left: 15px;

    &--instagram svg {
      width: 24px;
      height: 25px;
    }

    &--facebook svg {
      width: 15px;
      height: 30px;
    }

    &--vkontakte svg {
      width: 31px;
      height: 18px;
    }
  }
}
