.page-header__header {
  padding-right: 0;
  padding-left: 0;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 65px;
  padding-right: 20px;
  padding-left: 20px;
}

.page-header__logo {
  margin-top: 13px;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-header__header {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 25px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .page-header__wrapper {
    padding-right: 0;
    padding-left: 0;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__header {
    padding-top: 43px;
    padding-right: 0;
    padding-left: 0;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}

.page-header__preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
  background: url("../img/index-background-mobile@1x.jpg") top center no-repeat, linear-gradient(to bottom, #65a93c 63.5%, #ffffff 37.5%);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(to bottom, #65a93c 63.5%, #ffffff 37.5%);
    background-size: 320px auto;
  }
}

.page-header__preview-title {
  @include text-parameter(36px, 1, $color-element, 400);
  margin-top: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.page-header__preview-subtitle {
  text-transform: uppercase;

  @include text-parameter(14px, 1, $color-element, 400);
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
}

.page-header__preview-image {
  margin-top: 28px;
  margin-bottom: 3px;
}

.page-header__preview-link {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  align-self: stretch;
}

@media (min-width: $tablet-width) {
  .page-header__preview {
    align-items: flex-start;
    padding-left: 117px;
    background: none;
    position: relative;
    padding-bottom: 508px;
  }

  .page-header__preview-title {
    @include text-parameter(60px, 1, $color-subtitle, 400);
    text-align: start;
    margin-bottom: 36px;
  }

  .page-header__preview-subtitle {
    @include text-parameter(20px, 1, $color-subtitle, 400);
    text-align: start;
  }

  .page-header__preview-image {
    width: 709px;
    height: 609px;
    position: absolute;
    top: 230px;
    left: calc(50% - 356px);
    margin-top: 0;
    margin-bottom: 0;
  }

  .page-header__preview-link {
    @include text-parameter(20px, 1, $color-element, 400);
    margin-right: 0;
    margin-left: 0;
    margin-top: 48px;
    padding-left: 26px;
    padding-right: 29px;
    align-self: flex-start;
    padding-top: 17px;
    padding-bottom: 15px;
    z-index: 6;
  }
}

@media (min-width: $desktop-width) {
  .page-header--main-page {
    background: url("../img/index-background-desktop@1x.jpg") calc(50% + 358px) top no-repeat, linear-gradient(to right, #ffffff 50%, #65a93c 50%);
  }

  .page-header__preview {
    background: none;
    padding-top: 50px;
    padding-bottom: 187px;
    padding-left: 81px;
    box-sizing: border-box;
  }

  .page-header__preview-link {
    margin-top: 53px;
  }

  .page-header__preview-image {
    width: 552px;
    height: 499px;
    top: -3px;
    left: calc(50% - 159px);
  }
}

@media (min-resolution: $retina-dppx) and (min-width: $desktop-width) {
  .page-header--main-page {
    background: url("../img/index-background-desktop@2x.jpg") calc(50% + 358px) top no-repeat, linear-gradient(to right, #ffffff 50%, #65a93c 50%);
    background-size: 720px auto, auto;
  }
}
