body {
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;

  @include text-parameter(14px, 1.29, $color-text, 400);
  min-width: 320px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1220px;
  }
}
