body {
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;

  @include text-parameter(14px, 1.29, $color-text, 400);
}



a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
