$color-secondary: #f2f2f2;
$color-secondary-darker: #ebebeb;
$color-border: #cdcdcd;
$color-main: #68b738;
$color-text: #444444;
$color-main-darker: #5eaa2f;
$color-subtitle: #111111;
$color-element: #ffffff;
$color-subtitle-lighter: #111111;
$color-error: #ff8282;
$color-border-darker: #bababa;
