@mixin no-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin zero-indent {
  margin: 0;
  padding: 0;
}

@mixin button {
  margin: 0 auto 22px;
  padding-top: 10px;
  width: 280px;
  min-height: 40px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: $main-color;
}

@mixin content-style {
  margin: 0;
  padding: 0;

  text-align: left;
  font-family: "Arial", sans-serif;
}

@mixin form-legend--tablet {
  font-size: 36px;
  line-height: 36px;
}

@mixin form-label {
  flex-shrink: 0;
  margin-right: 15px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

@mixin form-label--tablet {
  font-size: 20px;
  line-height: 20px;
}

@mixin input-text {
  padding-left: 15px;
  flex-basis: auto;
  min-height: 45px;
  flex-grow: 1;

  border: 1px solid #e6e6e6;
}

@mixin placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

@mixin placeholder--tablet {
  font-size: 20px;
  line-height: 20px;
}
